.calender {
    width: 145px;
    height: 35px;
    margin-right: 10px;
    display: block;
    position: relative;
    z-index: 3;
}

.calenderRight {
    width: 145px;
    height: 35px;
    margin-left: 10px;
    display: block;
    position: relative;
    z-index: 3;
}

.calendar{
    position: fixed;
    height: auto;
    font-size: 8pt;
}