.logo-background{
    background-color: #FFC107;
    padding: 0 10px 0 0;
}

.breadcrumb{
    border-bottom: none;
    background-color: #fafafa;
    margin-bottom: 0px !important;
}

.breadcrumb-item + .breadcrumb-item::before{
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 0.5rem;
    color: #73818f;
    content: "\f105";
}

@media only screen and (min-width: 992px) {
    .logo-background::after{
        content: '';
        position: absolute;
        height: 55px;
        width: 25px;
        transform: skew(20deg);
        float: right;
        background-color: #FFC107;
        border-bottom-right-radius: 10px;
        z-index: -9999;
      }
}

.logoScale{
    transform: scale(1.3);
  }

.dropdownn{
    transform: translate3d(20px,40px,0px) !important;
    width: 215px;
}