.clear-search{
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 9999;
    cursor: pointer
}

.popover-dropdown{
    height: 175px !important;
    width: 200px !important;
    overflow-y: scroll !important
}

.input-feedback {
    left: -200px !important;
    position: absolute !important;
    width: 220px !important;
}

.dr-datatable__wrapper{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dr-datatable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.dr-datatable__header {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: sticky; 
    top: 0;
    
}

.dr-datatable__data {
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(201, 199, 199);
    border-top: 1px solid rgb(201, 199, 199);
    overflow-y: auto;
}

.dr-datatable__row:hover {
    background-color: #e7e7e7;
}

.tabs {
    width: 100%;
    height: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
}

.tab{
    cursor: pointer;
    width: 75%;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(94, 94, 94);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.tab-active{
    cursor: pointer;
    width: 50%;
    height: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.toolbars__wrapper{
    width: 100%;
    height: 75px;
    background-color: #fff;
    padding-top: 10px;
}

.footer__wrapper{
    width: 100%;
    height: 75px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.row-clicked{
    cursor: pointer;
    font-weight: bold;
}

.row-clicked:hover{
    color: rgb(0, 89, 255);
}

.t-row__low{
    font-size: 12px;
    background-color: #fafafa;
}

.t-row__low:nth-child(odd){
    background-color: #fafafa;
}

.t-row__low:nth-child(even){
    background-color: #f0f0f0;
}

.t-head__low{
    font-size: 10px;
    border-color: #FFC107;
    background-color: #FFC107;
    color: black;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.row-table-contain-default{
    border-top: 1px solid rgb(190, 190, 190) !important;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    /* width: calc(80%); */
    text-overflow: ellipsis;
}

.row-table-contain-red{
    color: white;
    background-color: #f44341;
    border-top: 1px solid #000 !important;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.row-table-contain-orange{
    background-color: #f4ac41;
    border-top: 1px solid #000 !important;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.row-table-contain-yellow{
    background-color: #f4e542;
    border-top: 1px solid #000 !important;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lds-ring-bk {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
  }
  .lds-ring-bk div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 41px;
    height: 41px;
    margin: 2px;
    border: 4px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring-bk div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring-bk div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring-bk div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring-bk {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .cardScroll{
      overflow-y: auto;
  }
  .input-checked{
    margin: 2px 10px 10px 18px;
    color: black;
    vertical-align: middle;
  }

  .containersBody{
      margin-left: 5px;
      margin-right: 5px;
  }