// Here you can add other styles
.custom-badge{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $primary;
    border-radius: 40%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 20px;
    margin-right: 10px;
}

.table th, .table td{
    padding: 10px;
}

.main .container-fluid{
    padding: 10px;
}

.app-header{
    position: relative;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: $navbar-bg;
    flex: 0 0 55px;
    border-bottom: none;
    -webkit-box-shadow: 0 5px 4px -4px rgb(104, 104, 104);
    -moz-box-shadow: 0 5px 4px -4px rgb(104, 104, 104);
    box-shadow: 0 5px 4px -4px rgb(104, 104, 104);
}

.sidebar .nav {
    width: 200px;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    padding: 0 0 0 0;
    font-size: 12px;
}

.sidebar .nav-link.active{
    background-color: $black;
    border-left: 5px solid $primary;
}
.sidebar .nav-link.active .nav-icon{
    color: $white;
}

.sidebar .nav-link:hover{
    background-color: $black;
}

.sidebar .nav-dropdown.open .nav-link.active{
    font-size: 12px;
    background-color: $black;
    border-left: 5px solid $primary;
}

.sidebar .nav-dropdown.open .nav-link{
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}